# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Secret used by Better Auth
BETTER_AUTH_SECRET="<your-super-secret-secret-here>"

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://<user>:<password>@<address>:<port>/uniplan"

# Next.js and BetterAuth
NEXT_PUBLIC_BASE_URL="http://localhost:3067" 


EMAIL_FROM="" # e.g. "noreply@yourdomain.com"
EMAIL_USER="" # for authentication - same as EMAIL_FROM for most providers
EMAIL_PASSWORD="" # your email password
EMAIL_HOST="" # e.g. "smtp.yourdomain.com"
CONTACT_EMAIL="" # e.g. "contact@yourdomain.com", displayed in emails - an address for end-users to contact you